.link{
    color: grey
}

.link-black{
    color: black
}

.fa-circle{
    color: rgb(173, 149, 211);
 }

.blue {
    padding: 20px;
    margin-top: 20px;
    background-color: lightblue;
}

.grey {
    padding: 20px;
    margin-top: 20px;
    background-color: lightgrey;
}

.white {
    padding: 20px;
    margin-top: 20px;
    background-color: white;

}